:root {
    --colNumber: 0;
    --rowNumber: 0;
    --bgcolor : white;
}
#container{
    height:600px;
    width: 600px;
    border: 3px solid black;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(var(--colNumber), 1fr);
    grid-template-rows: repeat(var(--rowNumber), 1fr);
    
}
.grids {
    border: 0.1em solid rgb(228, 226, 226);
    background-color: var(--bgcolor);
}


.title{
    font-family: 'Trick Or Dead', sans-serif;
    color: orange;
    font-size: 60px;
    text-align: center;
    padding-bottom: 75px;
}
.all{
    display: flex;
    justify-content: space-around;
}
.frame{
  margin-top: 50px;
 display: flex;
}
.range{
  margin: auto;
  display: flex;
  width: 700px;
}
.slider{
  width: 100%;
  background: #ffeb33;
  
}
.slider::-webkit-slider-thumb{
  background: #4CAF50;
  cursor: pointer;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
}

#erase {
margin-top: 20px;
outline: none;
width:100px;
cursor: pointer;
font-weight: 500;
border: 1px solid black;
border-radius: 2px;
height: 36px;
line-height: 34px;
font-size: 14px;
color: #000000;
background-color: #e7e7e7;
transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;

:hover {
    color: #ffffff;
    background-color: #006570;
}
}
#reset{
  margin-top: 20px;
  display: inline;
  width:100px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  color: #ffffff;
  background-color: #007c89;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  
  :hover {
      color: #ffffff;
      background-color: #006570;
  }
}
